%h1 Edit Ice Cream Order
= render 'form'
= link_to "Ice Cream Orders Index", ice_creams_path, class: 'btn btn-success btn-lg btn-block'
= link_to "Home", root_path, class: 'btn btn-success btn-lg btn-block'