%h1 Welcome to The Ice Cream Shop
= link_to "Add Flavor", new_flavor_path, class: 'btn btn-success btn-lg btn-block'
/ = link_to "Add Ice Cream Flavor", new_ice_cream_flavor_path, class: 'btn btn-success btn-lg btn-block'
/ = link_to "Add Soda Flavor", new_soda_flavor_path, class: 'btn btn-success btn-lg btn-block'
= link_to "Buy Ice Cream", new_ice_cream_path, class: 'btn btn-success btn-lg btn-block'
= link_to "Buy Milkshake", new_milkshake_path, class: 'btn btn-success btn-lg btn-block'
= link_to "Buy Float", new_soda_path, class: 'btn btn-success btn-lg btn-block'


